@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4" style="z-index: 1">
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" >
                <h5 class="pt-2">Create a new account.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="reg-form-group">
                    <label name="firstName"><i class="fas fa-user"></i></label>
                    <input asp-for="Input.FirstName" name="firstName" class="borderless-input" placeholder="First Name"/>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="reg-form-group">
                    <label name="lastName"><i class="fas fa-user-friends"></i></label>
                    <input asp-for="Input.LastName" name="lastName" class="borderless-input" placeholder="Last Name"/>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="reg-form-group">
                    <label name="email"><i class="far fa-envelope"></i></label>
                    <input asp-for="Input.Email" name="email" class="borderless-input" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="reg-form-group">
                    <label name="password"><i class="fas fa-key"></i></label>
                    <input asp-for="Input.Password" name="password" class="borderless-input" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="reg-form-group">
                    <label name="confirmPass"><i class="fas fa-key"></i></i></label>
                    <input asp-for="Input.ConfirmPassword" class="borderless-input" placeholder="Confirm password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                
                              
                <input type="submit" class="btn btn-primary"/>
            </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h5 class="pt-2">Use another service to register.</h5>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {

                                    var className = "btn btn-primary";

                                    if (provider.Name == "Facebook")
                                        className = "fa fa-facebook";
                                    if (provider.Name == "Google")
                                        className = "fa fa-google";

                                    <button type="submit" class="@className" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"> @provider.DisplayName</button>

                                }
                            </p>

                        </div>
                    </form>

                    <div class="w-auto d-flex justify-content-center">
                        <figure ><img src="/img/signup-image.jpg" alt="sing up image"></figure>
                       @* <a href="#" class="signup-image-link">I am already member</a>*@
                    </div>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
