@model IEnumerable<MyBlog.Models.ArticleCategory>

@{
    ViewData["Title"] = "ArtCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Categories</h2>

<p class="d-flex justify-content-end">
    <a asp-action="UpsertArtCat" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="d-flex align-items-start">
                @Html.ActionLink("Edit", "UpsertArtCat", new {  id=item.Id }, new { @class = "btn btn-success text-white" }) 
                <div class="pl-1">
                    <form asp-action="DeleteArtCat" method="post" >
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger text-white"> Delete</button>
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
