@model MyBlog.Models.ArticleView

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var publishedDate = ViewData["publishedDate"];

}
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" id="articleId" value="@Model.Article.Id" />
            <article class="blog-post px-3 py-5 p-md-5">
                
                <header class="mb-4">
                    <h2 class="font-weight-normal mb-1">@Model.Article.Header</h2>
                    <div class="meta mb-3">
                        <span class="date">Posted on @publishedDate</span>
                        <span id="readTime" class="time">5 min read</span>
                        
                    </div>
                    <a class="badge bg-secondary text-decoration-none btn-link text-white" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none text-white" href="#!">Freebies</a>
                </header>

                <div class="blog-post-body">
                    <figure class="mb-4">
                        <a href="https://made4dev.com"><img class="post-img" src="~/img/@Model.Article.Image" alt="image"></a><br />
                        @*<figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>*@
                    </figure>
                    <section class="mb-5"><p class="fs-5">@Model.Article.Body</p></section>
                </div>
                
            </article>
    
            <section class="px-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <h5 class="comment-header"><i class="fas fa-comment-dots"></i> Comments </h5>
                                <textarea class="form-control mb-1 mr-4" id="dt" name="Detail" placeholder="Please write your comment here."></textarea>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control mb-1 col-8 mr-2" id="cmr" name="Commenter" placeholder="Please write your name." />
                                <a id="sendButton" class="btn btn-primary text-white form-control col-2" onclick=addComment(@Model.Article.Id)>Send</a>
                            </div>
                        </form>
                        <div id="commentList" class="mt-5 bg-light">
                        </div> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/ArticleDetail.js">
</script>
}
    
    
