@model MyBlog.Models.ArticleView

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var publishedDate = ViewData["publishedDate"];

}

<h1>Detail</h1>

<div class="main-wrapper">
    <input type="hidden" id="articleId" value="@Model.Article.Id" />
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h2 class="title mb-2">@Model.Article.Header</h2>
                <div class="meta mb-3"><span class="date">Published @publishedDate</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
            </header>

            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="https://made4dev.com"><img class="img-fluid" src="~/img/@Model.Article.Image" alt="image"></a>
                    <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                </figure>
                <p>@Model.Article.Body</p>
            </div>
        </div>
    </article>
    
    <div>
        <div class="bg-light">
            <h5 class="comment-header"><i class="fas fa-comment-dots"></i> Comments </h5>
            <textarea class="form-control" id="dt" name="Detail" placeholder="Please write your comment here."></textarea>
            <input type="text" class="form-control" id="cmr" name="Commenter" placeholder="Please write your name." />
            <a id="sendButton" class="btn btn-primary text-white form-control" onclick=addComment(@Model.Article.Id)>Send</a>
        </div>
        <div id="commentList" class="mt-5 mb-5 bg-light">    
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/ArticleDetail.js">
</script>
}
    
    
